
/*-----------------------
        BASIC SETUP
  -----------------------
*/


@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
* {
    margin:0;
    box-sizing: border-box;
    --header-height: 80px;
}


html,
body {
    width: 100%;
    height: 100%;
    color: #3b3b3b;
    font-family: 'Rubik', sans-serif;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    color: #3d3c40;
}


/*-----------------------
          HEADER
  -----------------------
*/


.header {
    color: white;
    height: 170px;
    display: flex;
    flex-flow: column nowrap;

}


/* ---- NAV - BAR ---- */


.nav-bar {
    display: inline-flex;
    background-color: #2596be;
    padding: 10px 10px;
    flex-flow: row;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar__icons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.language,
.temperature {
    background-color: transparent;
    border: transparent;
    color: white;
    margin-left: 10px;
    font-size: 22px;
    cursor: pointer;
}

.language {
    width: 44px;
    border-right: 1px solid white;
}

.language:hover,
.temperature:hover {
    opacity: 0.5;
    transition: opacity 0.3s linear;
}

.weather-logo img {
    width: 40px;
    height: 40px;
}


/* ---- SEARCH - BAR ---- */

.search-bar {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: calc(100% - 140px);
    /* position: relative;
    right: 45%; */
}

.search-content {
    width: 300px;
    margin-right: 140px;
}

.search-bar form {
    position: relative;
    width: 200px;
    outline: transparent;
    border: 1px solid transparent;
}  

.search-bar form input{
    background-color: #A7D5E5;
    color: white;
    padding: 0.5rem 1.7rem; 
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 300px;
    height: 38px;
    /* max-width: 32ch; */
}

::placeholder {
    color: #505050;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;

}

.search-bar img {
    position: absolute;
    margin-right: 4px;
    margin-top: 2px;
    top: 9px;
    right: -95px;
}


/* ---- BROADCAST - BAR ---- */

.broadcast-bar {
    height: 45px;
    width: 100%;
}

.broadcast-tabs {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    padding: 0 70px;
    height: 45px;
    background-color: #024359;
}

.broadcast-tabs li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 1px;
    font-size: 20px;
    border-bottom: solid 4px transparent;    
    color: white;
}

.broadcast-tabs li:hover,
.broadcast-tabs li:active {
    cursor: pointer;
    border-width: auto;
    border-bottom: solid 4px white; 
    transition: border-bottom 0.2s;
} 


/* ---- FAVOURITES ---- */

.favourites {
    height: 45px;
    background-color: #95d3ea;
}

